.navbar {
    /* position: fixed; */
    background: rgb(66, 65, 83);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    border-radius: .1rem;
}

.navbar-container{
    width: 85%;
    align-self: center;
}

#icehotel-navbar-brand{
    background: url("../../images/font/icefont-background-min.jpg");
    background-clip: text;
	background-size: contain;
    width: 100%;
    color: transparent;
    font-weight: 900;
}